/* Section, div, and h1 styling are in HowItWorks.css
 due to similarities*/

/* h2 and h1 are in AboutAppStyle.css */

.ContactUsDiv
{
    color : black;
}

.ContactUsDiv p
{
    width       : 60%;
    font-size   : 1.27rem;
    font-weight : 300;
    line-height : 30px;
    text-align  : center;
    color       : #A9A9A9;
}

.contactForm
{
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    justify-content : space-between;
    width           : 65%;
    height          : 25rem;
}

.contactForm input
{
    width            : 97%;
    height           : 3.5rem;
    padding-left     : 1.2rem;
    font-size        : 1.17rem;
    border           : 1px solid #A9A9A9;
    border-radius    : 0.5rem;
    background-color : #FFFFFF;
}

.contactForm input::placeholder
{
    font-family : 'Comfortaa', sans-serif;
    font-weight : 300;
    color       : #A9A9A9;
}

.nameAndEmail
{
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    width           : 100%;
}

.nameAndEmail input
{
    width : 45.5%;
}

.contactForm input[type = submit]
{
    width            : 18rem;
    height           : 4rem;
    margin-top       : 4rem;
    margin-bottom    : -3rem;
    padding          : 1rem 2rem;
    transition       : all 0.5s ease;
    font-size        : 1.6rem;
    font-weight      : 700;
    color            : #FFF2F2;
    border           : 1px solid #2C3181;
    border-radius    : 2rem;
    background-color : #2E3191;
}

.contactForm input[type = submit]:hover
{
    cursor     : pointer;
    transform  : scale(1.05);
    box-shadow : 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width : 865px)
{
    .nameAndEmail
    {
        align-items    : center;
        flex-direction : column;
        height         : 30.3%;
    }
    .nameAndEmail input
    {
        width : 97%;
    }
    .ContactUsDiv h1
    {
        font-size : 2.8rem;
    }
    .contactForm
    {
        height : 27rem;
    }

}
