/* h1 and h2 styles are in FeaturesStyle.css */
.Testimonial
{
    margin-top : 10rem;
}

.clients
{
    display               : grid;
    justify-content       : center;
    width                 : 100vw;
    grid-template-columns : 26% 26% 26%;
    grid-auto-rows        : calc(100%);
    grid-gap              : 2rem;
}

.client
{
    display        : none;
    flex-direction : column;
    padding        : 2rem 2rem 3rem;
    border         : 1px solid #707070;
    border-radius  : 10px;
}

.social-media-post
{
    height        : 100%;
    padding       : 0 0 0.5rem;
    border        : 1px solid #707070;
    border-radius : 10px;
}

.social-media-post__image
{
    margin           : 0;
    padding          : 0;
    border-radius    : 10px;
    background-color : rgba(47, 54, 64, 0.49);
}

.social-media-post__image > img
{
    width         : 100%;
    height        : 20rem;
    border-radius : 10px;
}

.social-media-post__description
{
    max-width : 30rem;
    padding   : 0 1rem;
}

.social-media-post__description h3
{
    color : #2C3181;
}

.social-media-post__description p
{
    display            : -webkit-box;
    overflow           : hidden;
    margin-bottom      : 0;
    font-size          : 0.9rem;
    font-weight        : 300;
    line-height        : 1.5rem;
    color              : #A9A9A9;
    -webkit-line-clamp : 4;
    -webkit-box-orient : vertical;
}

.social-media-post__read-more
{
    margin-top      : 1rem;
    margin-right    : 2rem;
    font-size       : 1.1rem;
    text-align      : right;
    text-decoration : none;
    color           : #2E3191;
}

.social-media-post__read-more:hover
{
    color : #2E3191A8;
}

/*.client:nth-child(2n)*/
/*{*/
/*    background : #2E3191;*/
/*}*/

/*.client p:not(.clientNameAndProfession p)*/
/*{*/
/*    margin-bottom : 0;*/
/*    font-size     : 0.9rem;*/
/*    font-weight   : 300;*/
/*    line-height   : 1.5rem;*/
/*    color         : #A9A9A9;*/
/*}*/

/*.client:nth-child(2n) p:not(.clientNameAndProfession p)*/
/*{*/
/*    color : white;*/
/*}*/

/*.clientCredentials*/
/*{*/
/*    display        : flex;*/
/*    flex-direction : row;*/
/*    min-height     : 2rem;*/
/*    margin-bottom  : 4rem;*/
/*}*/

/*.clientCredentials img*/
/*{*/
/*    width         : 5rem;*/
/*    height        : 5rem;*/
/*    margin-right  : 1.4rem;*/
/*    border        : 4px solid #707070;*/
/*    border-radius : 10px;*/
/*}*/

/*.client:nth-child(2n) img*/
/*{*/
/*    border-color : #FFCA05;*/
/*}*/

/*.clientNameAndProfession*/
/*{*/
/*    display        : flex;*/
/*    flex-direction : column;*/
/*    margin-top     : -2.5rem;*/
/*}*/

/*.clientNameAndProfession h6*/
/*{*/
/*    margin-bottom : -0.5rem;*/
/*    font-size     : 1.2rem;*/
/*    color         : #2C3181;*/
/*}*/

/*.client:nth-child(2n) h6*/
/*{*/
/*    color : white;*/
/*}*/

/*.client:nth-child(2n) p*/
/*{*/
/*    color : #ECECEC;*/
/*}*/

/*.clientNameAndProfession p*/
/*{*/
/*    margin-bottom : -0.1rem;*/
/*    font-weight   : 300;*/
/*    color         : #343434;*/
/*}*/

/*.ratings*/
/*{*/
/*    display         : flex;*/
/*    flex-direction  : row-reverse;*/
/*    justify-content : center;*/
/*    margin-top      : 0.3rem;*/
/*    margin-left     : -1rem;*/
/*}*/

/*.ratings input*/
/*{*/
/*    display : none;*/
/*}*/

/*.ratings label*/
/*{*/
/*    position  : relative;*/
/*    width     : 1.1em;*/
/*    font-size : 1.3vw;*/
/*    color     : #FFCA05;*/
/*}*/

.arrows
{
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    width           : 11rem;
    margin-top      : 5rem;
}

.arrows button
{
    padding          : 1rem 1.55rem;
    font-size        : 1.8rem;
    color            : white;
    border           : none;
    border-radius    : 13rem;
    background-color : #2E3191;
    filter           : drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.arrows button:hover
{
    cursor     : pointer;
    transition : all ease-in 0.2s;
    filter     : drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.6));
}

.arrows button:disabled
{
    cursor           : default;
    border           : none;
    background-color : rgba(46, 49, 145, 0.3);
    filter           : drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

@media (max-width : 890px)
{
    .Testimonial h1
    {
        text-align : center;
    }

    .clients
    {
        grid-template-columns : 80%;
    }

    .ratings
    {
        margin-left : -1.8rem;
    }

    .ratings label
    {
        font-size : 1.2rem;
    }
}